<!DOCTYPE html>
<html>
  <head>
    <title>Url Shortener</title>
    <%- include ./partial/stylenya.ejs %>
  </head>
  <body>
    <div style="padding: 5% 15% 30% 15%; width: 100%;">
      <h3 style="font-family: 'Pacifico', cursive;">Insert your link</h3>
      <form class="" action="/" method="post">
        <input type="text" name="url" placeholder="insert link here">
        <button class="waves-effect waves-light btn" type="submit" name="button">Generate</button>
      </form>
    </div>
  </body>
</html>
